@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: "header header" "aside main";
    min-height: 100vh;
}

/*header, aside, main {*/
/*    border: 1px solid maroon;*/
/*}*/

header {
    display: grid; /*grid-таблица*/
    grid-area: header;
    grid-template-areas: "left-icons search right-icons";
    grid-template-columns: 200px 1fr 200px;
    border-bottom: 1px solid gray;
    padding: 0 20px;
    align-items: center; /*выравнивание вертикаль*/
    background: aquamarine;
}

header .left-icons {
    list-style-type: none;
    display: flex;
    grid-area: left-icons;
    height: 30px;
    gap: 10px;
    justify-content: left;
}

header .left-icons li, header .right-icons li, header .icons-search li {
    border-radius: 5px;
}

header .left-icons .left-arrow {
    height: 30px;
    width: 30px;
    background: url("../img/arrow1_left.svg") center center no-repeat;
    background-size: 20px 20px;
}

header .icon:hover {
    background-color: darkgrey !important;
}

header .left-icons .right-arrow {
    height: 30px;
    width: 30px;
    background: url("../img/arrow1_right.svg") center center no-repeat;
    background-size: 20px 20px;
}

header .left-icons .clock {
    height: 30px;
    width: 30px;
    background: url("../img/clock.svg") center center no-repeat;
    background-size: 20px 20px;
}

header .search {
    grid-area: search;
    height: 30px;
}

header .search [type=search] {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

header .search .icons-search {
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 6px;
    height: 30px;
    top: 0;
    gap: 5px;
    align-items: center;
}

header .search .icon-params {
    height: 22px;
    width: 22px;
    background: url("../img/params1.svg") center center no-repeat;
    background-size: 16px 16px;
}

header .search .icon-search {
    height: 22px;
    width: 22px;
    background: url("../img/search1.svg") center center no-repeat;
    background-size: 16px 16px;
}

header .right-icons {
    list-style-type: none;
    display: flex;
    grid-area: right-icons;
    align-items: center;
    height: 30px;
    gap: 5px;
    margin: 0 20px;
    justify-content: right;
}

header .right-icons .icon-help {
    height: 30px;
    width: 30px;
    background: url("../img/help1.svg") center center no-repeat;
    background-size: 24px 24px;
}

header .right-icons .icon-avatar {
    height: 30px;
    width: 30px;
    background: url('https://avatars.akamai.steamstatic.com/c59df74416a5efd9fd7dd099d899fa7b28cba6c6_full.jpg');
    background-size: contain;
}

header .right-icons .icon-avatar.online:after {
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    content: '';
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: green;
}

header .right-icons .icon-avatar.away:after {
    height: 10px;
    width: 10px;
    background: goldenrod;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

header .right-icons .icon-avatar.busy:after {
    height: 10px;
    width: 10px;
    background: red;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

header .right-icons .icon-avatar.offline:after {
    height: 10px;
    width: 10px;
    background: gray;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

aside {
    display: grid; /*grid-таблица*/
    grid-area: aside;
    grid-template-areas: "heading" "conversations" "channel" "communicatiuon";
    grid-template-rows: 60px min-content min-content 1fr;
    border-bottom: 1px solid gray;
    border-right: 2px solid gray;
    background: antiquewhite;
}

aside .icon:hover {
    background-color: darkgrey !important;
    border-radius: 8px;
}

aside .heading {
    list-style-type: none;
    display: grid;
    grid-area: heading;
    grid-template-columns: 1fr 1fr 36px;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid gray;
    gap: 10px;
}

aside .heading .icon-list {
    height: 20px;
    width: 20px;
    background: url("../img/chevron-down1.svg") center center no-repeat;
    background-size: 24px 24px;
}

aside .heading .icon-edit {
    height: 36px;
    width: 36px;
    background: url("../img/edit1.svg") center center no-repeat white;
    background-size: 18px 18px;
    border-radius: 50%;
}

aside .conversations {
    list-style-type: none;
    display: grid;
    grid-area: conversations;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}

aside .conversations li{
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
    min-height: 30px;
    line-height: 30px;
}

aside .conversations .icon-conversations {
    height: 30px;
    background: url("../img/bubble1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
    }

aside .conversations .icon-later {
    height: 30px;
    background: url("../img/bookmark1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .conversations .icon-communicatiuon {
    height: 30px;
    background: url("../img/bubbles3.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .conversations .icon-monkey {
    height: 30px;
    background: url("../img/at-sign1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .conversations .icon-aircraft {
    height: 30px;
    background: url("../img/send1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .conversations .icon-society {
    height: 30px;
    background: url("../img/office1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .conversations .icon-dot {
    height: 30px;
    background: url("../img/more-vertical1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .channel {
    list-style-type: none;
    display: grid;
    grid-area: channel;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}

aside .channel li{
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
    min-height: 30px;
    line-height: 30px;
}

aside .channel .icon-develop {
    height: 30px;
    background: url("../img/chevron-down1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .channel .icon-close {
    height: 30px;
    background: url("../img/lock1.svg") center left 8px no-repeat;
    background-size: 20px 20px;
}

aside .channel .icon-sharp {
    height: 30px;
    background: url("../img/hash1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
}

aside .channel .icon-add {
    height: 30px;
    background: url("../img/plus1.svg") center left 8px no-repeat;
    background-size: 10px 10px;
}

aside .communicatiuon {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    grid-area: communicatiuon;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}

aside .communicatiuon li {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
}

aside .communicatiuon li i{
    display: block;
    height: 28px;
    width: 28px;
    margin-right: 4px;
}

aside .communicatiuon li i:after{
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
    content: '';
}

aside .communicatiuon li i.online:after{
    background: green;
}

aside .communicatiuon li i.busy:after{
    background: red;
}

aside .communicatiuon li i.away:after{
     background: goldenrod;
}

aside .communicatiuon li i.offline:after{
     background: gray;
}

aside .communicatiuon .icon-develop {
    height: 30px;
    background: url("../img/chevron-down1.svg") center left 4px no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
}

aside .communicatiuon .icon-add {
    height: 30px;
    background: url("../img/plus1.svg") center left 8px no-repeat;
    background-size: 10px 10px;
    padding-left: 30px;
}

main {
    display: grid;
    grid-area: main;
    grid-template-areas: "titel-chat" "bookmark" "messages" "text-editor";
    grid-template-rows: 60px min-content 1fr 200px;
    background: cadetblue;
}

main .icon:hover {
    background-color: darkgrey !important;
    border-radius: 8px;
}

main .titel-chat {
    list-style-type: none;
    display: grid;
    grid-area: titel-chat;
    grid-template-columns: 40px 100px 1fr;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid black;
    gap: 10px;
}

main .titel-chat li i{
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 4px;
    border-radius: 5px;
}

main .titel-chat .icon-list {
    height: 20px;
    width: 20px;
    background: url("../img/chevron-down1.svg") center center no-repeat;
    background-size: 24px 24px;
}

main .bookmark {
    list-style-type: none;
    display: flex;
    grid-area: bookmark;
    grid-template-areas: "icon-add" "space";
    grid-template-columns: min-content 1fr;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid black;
    gap: 10px;
}

main .bookmark li{
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
    min-height: 30px;
    line-height: 30px;
}

main .bookmark .icon-add {
    height: 30px;
    background: url("../img/plus1.svg") center left 8px no-repeat;
    background-size: 10px 10px;
    padding-left: 30px;
}

main .bookmark .space {
    grid-area: space;
}

main .messages {
    list-style-type: none;
    display: grid;
    grid-area: messages;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid black;
    gap: 10px;
}

main .messages .messages_1 {
    display: grid;
    grid-template-areas: "icon-avatar nickname time time" "icon-avatar text text text" "icon-avatar replies replies replies";
    grid-template-columns: 40px min-content min-content 1fr;
    border-bottom: white 1px solid;
    padding-bottom: 5px;
    gap: 10px;
}

main .messages .icon-avatar {
    grid-area: icon-avatar;
    height: 40px;
    width: 40px;
    background: url('https://avatars.akamai.steamstatic.com/c59df74416a5efd9fd7dd099d899fa7b28cba6c6_full.jpg');
    background-size: contain;
    border-radius: 6px;
}

main .messages .mini-avatar {
    grid-area: mini-avatar;
    height: 20px;
    width: 20px;
    background: url('https://avatars.akamai.steamstatic.com/c59df74416a5efd9fd7dd099d899fa7b28cba6c6_full.jpg');
    background-size: contain;
    border-radius: 6px;
}

main .messages .text {
    grid-area: text;
}

main .messages .nickname {
    grid-area: nickname;
}

main .messages .time {
    grid-area: time;
}

main .messages .replies {
    display: flex;
    grid-area: replies;
    gap: 6px;
}

main .messages .reply {
    grid-area: reply;
    white-space: nowrap;
}

main .messages .time_day {
    grid-area: time_day;
    white-space: nowrap;
}

main .text-editor {
    list-style-type: none;
    display: flex;
    grid-area: text-editor;
    height: 200px;
    width: 100%;
    padding: 10px 20px;
}

main .text-editor .editor {
    display: grid;
    grid-template-areas: "bold italic underline vr1 link vr2 list vr3 align-left vr4 code terminal"
    "text text text text text text text text text text text text"
    "plus litera smile monkey vr5 video mic vr6 sharp aircraft vr7 icon-add";
    grid-template-columns: repeat(12, 20px);
    border: black 1px solid;
    border-radius: 10px;
    flex-grow: 1;
    padding: 10px 20px;
    gap: 6px;
}

main .text-editor .editor .bold {
    grid-area: 1 / 1;
    height: 20px;
    width: 20px;
    background: url('../img/bold1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .editor .italic {
    grid-area: 1 / 2;
    height: 20px;
    width: 20px;
    background: url('../img/italic1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .underline {
    grid-area: 1 / 3;
    height: 20px;
    width: 20px;
    background: url('../img/underline1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .link {
    grid-area: 1 / 5;
    height: 20px;
    width: 20px;
    background: url('../img/link1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .list {
    grid-area: 1 / 7;
    height: 20px;
    width: 20px;
    background: url('../img/list1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .align-left {
    grid-area: 1 / 9;
    height: 20px;
    width: 20px;
    background: url('../img/align-left1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .code {
    grid-area: 1 / 11;
    height: 20px;
    width: 20px;
    background: url('../img/code1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .terminal {
    grid-area: 1 / 12;
    height: 20px;
    width: 20px;
    background: url('../img/terminal1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .plus {
    grid-area: 3 / 1;
    height: 20px;
    width: 20px;
    background: url('../img/plus1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .litera {
    grid-area: 3 / 2;
    height: 20px;
    width: 20px;
    background: url('../img/bold1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .smile {
    grid-area: 3 / 3;
    height: 20px;
    width: 20px;
    background: url('../img/smile1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .monkey {
    grid-area: 3 / 4;
    height: 20px;
    width: 20px;
    background: url('../img/at-sign1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .video {
    grid-area: 3 / 6;
    height: 20px;
    width: 20px;
    background: url('../img/video1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .mic {
    grid-area: 3 / 7;
    height: 20px;
    width: 20px;
    background: url('../img/mic1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .sharp {
    grid-area: 3 / 9;
    height: 20px;
    width: 20px;
    background: url('../img/hash1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .aircraft {
    grid-area: 3 / 10;
    height: 20px;
    width: 20px;
    background: url('../img/send1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .icon-add {
    grid-area: 3 / 12;
    height: 20px;
    width: 20px;
    background: url('../img/chevron-down1.svg');
    background-size: contain;
    border-radius: 6px;
}

main .text-editor .vr {
    text-align: center;
}

main .text-editor .text {
    grid-area: 2 / 1 / 2 / 13;
}

main .icon:hover {
    background-color: darkgrey !important;
}

main .text-editor textarea {
    display: block;
    height: 70px;
    width: 100%;
    border-radius: 6px;
}
